.products {
  padding: 2rem;
}

form {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f9f9f9;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 6px;
}